<div class="col-10">
  <div class="main-style-div">
    <div>
      <div class="d-flex justify-content-between mt-5">
        <h3>افزودن دوره</h3>
      </div>
    </div>
    <hr />
    <%- include(viewPath('resourse/views/home/layout/errorMassage.ejs')); -%>

    <div>
      <form action="/admin/courses/create" method="post">
        <div class="form-group">
          <label for="name">عنوان دوره</label>
          <input
            type="text"
            class="form-control mt-2"
            id="name"
            name="name"
            value="<% old('title') %>"
          />
        </div>

        <div class="form-group">
          <label for="coursetype">نوع دوره</label>
          <select class="form-control mt-2" name="type" id="type">
            <option value="vip" <%= old('type') === 'vip' ? 'selected' : '' %>>نقدی</option>
            <option value="cash" <%= old('type') === 'cash' ? 'selected' : '' %>>ویژه</option>
            <option value="free" <%= old('type') === 'free' ? 'selected' : '' %>>رایگان</option>
          </select>
        </div>

        <div class="form-group">
          <label for="text">متن</label>
          <textarea class="form-control mt-2" id="text" rows="3" name="text">
<%= old('value') %></textarea
          >
        </div>

        <div class="form-group">
          <label for="image">افزودن تصویر</label>
          <input
            type="file"
            class="form-control-file mt-2"
            id="image"
            name="image"
          />
        </div>

        <div class="row">
          <div class="col">
            <label for="image">قیمت</label>
            <input
              type="price"
              class="form-control mt-2"
              name="price"
              value="<% old('price') %>"
            />
          </div>
          <div class="col">
            <label for="image">تگ ها</label>
            <input
              type="tags"
              class="form-control mt-2"
              name="tags"
              value="<% old('tags') %>"
            />
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-4">افزودن</button>
      </form>
    </div>
    <!--  -->
  </div>
</div>
