<div class="col-10">
  <div class="main-style-div">
    <div>
      <div class="d-flex justify-content-between mt-5">
        <h3>دوره ها</h3>
        <div>
          <div
            class="btn-group btn-group-sm"
            role="group"
            aria-label="Basic example"
          >
            <!--  -->
            <a href="/admin/courses/create" class="btn btn-primary"
              >ایجاد دوره</a
            >
            <a href="/admin/episode" class="btn btn-danger">بخش ویدیوها</a>
          </div>
        </div>
      </div>
    </div>

    <div class="border mt-4">
      <table class="table table-striped">
        <thead>
          <tr class="text-center">
            <th scope="col">عنوان مقاله</th>
            <th scope="col">تعداد نظرات</th>
            <th scope="col">مقدار بازدید</th>
            <th scope="col">تعداد شرکت کننده ها</th>
            <th scope="col">وضعیت دوره</th>
            <th scope="col">تنظیمات</th>
          </tr>
        </thead>

        <tbody>
          <% course.docs.forEach(course => { %>

          <tr class="text-center">
            <th scope="row"><%=course.title%></th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td><%= course.typeToPersion() %></td>
            <td>
              <div
                class="btn-group btn-group-sm"
                role="group"
                aria-label="Basic example"
              >
                <form
                  action="/admin/courses/<%= course.id %>?_method=DELETE"
                  method="post"
                >
                  <a
                    href="/admin/courses/<%= course._id %>/edit"
                    class="btn btn-primary"
                    >ویرایش</a
                  >
                  <button type="submit" class="btn btn-danger">حذف</button>
                </form>
              </div>
            </td>
          </tr>

          <%}) %>
        </tbody>
      </table>
    </div>
    <%- include('./../../home/layout/pagination.ejs' , {pagination: course}) %>
  </div>
</div>
