<div class="col-9">
    <h2>
        <%= course.title %>
    </h2>
    <small>توسط <%= course.user.name %> ارسال شده در 21 خرداد 1397</small>
    <hr />
    <p class="text-justify">
        <%- course.body%>
    </p>
    <hr />


     


    <% if(auth.check) { %>
        
            <% if(course.type=='vip') { %>
                <div class="alert alert-danger" role="alert">
                    این دوره به صورت عضویت ویژه است
                </div>
            <% } else if(course.type=='cash') { %>
                <% if(req.user.checkLearning(course)) { %> 
                    <div class="alert alert-success" role="alert">
                        شما این دوره را خریداری کرده اید
                    </div>
                <% } else {%> 
                    <div class="alert alert-danger" role="alert">
                        برای مشاهده این دوره باید خریداری کنید باشد
                    </div>
                <%}%>
            <% } %>
    <% } else { %>
        <div class="alert alert-danger" role="alert">
            برای مشاهده ویدیو ها با ید ابتدا وارد اکانت خود شوید
        </div>
    <% } %>

            

                                        <div>
                                            <h3>قسمت های دوره</h3>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">شماره قسمت</th>
                                                        <th scope="col">عنوان قسمت</th>
                                                        <th scope="col">زمان قسمت</th>
                                                        <th scope="col">دانلود</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <% course.episode.forEach(episode=> { %>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>
                                                                <%= episode.title %>
                                                            </td>
                                                            <td>
                                                                <%= episode.time %>
                                                            </td>
                                                            <td><a class="decorationNon" href="#">دانلود</a></td>
                                                        </tr>
                                                        <%}) %>

                                                </tbody>
                                            </table>
                                        </div>
                                        <section class="gradient-custom mb-5">
                                            <div class="container-fluid p-0">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col-md-12  w-100 col-lg-10 col-xl-8">
                                                        <div class="card">
                                                            <div class="card-body ">
                                                                <h4 class="text-center mb-4 pb-2">نظرات</h4>
                                                                <div class="row ">
                                                                    <div class="col">
                                                                        <% course.comments.forEach(massage=> { %>

                                                                            <div
                                                                                class="d-flex flex-start mb-3 align-items-center">
                                                                                <img class="rounded-circle shadow-1-strong me-3"
                                                                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                                                                                    alt="avatar" width="65"
                                                                                    height="65" />
                                                                                <div class="flex-grow-1 flex-shrink-1">
                                                                                    <div class="px-3">
                                                                                        <div
                                                                                            class="d-flex justify-content-between align-items-center">
                                                                                            <p class="mb-1 textCommetn">
                                                                                                <%= massage.user.name %>
                                                                                                    <span
                                                                                                        class="small">-
                                                                                                        2 hours
                                                                                                        ago</span>
                                                                                            </p>
                                                                                            <!-- <button class="btn btn-info">پاسخ</button> -->
                                                                                            <button
                                                                                                data-parent="<%= massage.id %>"
                                                                                                type="button"
                                                                                                class="btn btn-primary"
                                                                                                data-toggle="modal"
                                                                                                data-target="#exampleModalCenter"
                                                                                                id="btnAnwer">

                                                                                                پاسخ
                                                                                            </button>
                                                                                        </div>
                                                                                        <p class="small mb-0">
                                                                                            <%- massage.body %>
                                                                                        </p>


                                                                                        <%
                                                                                            massage.comments.forEach(ChildComment=>
                                                                                            { %>
                                                                                            <div
                                                                                                class="d-flex flex-start mt-4">
                                                                                                <a class="me-3"
                                                                                                    href="#">
                                                                                                    <img class="rounded-circle shadow-1-strong"
                                                                                                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp"
                                                                                                        alt="avatar"
                                                                                                        width="65"
                                                                                                        height="65" />
                                                                                                </a>
                                                                                                <div
                                                                                                    class="flex-grow-1 flex-shrink-1">
                                                                                                    <div>
                                                                                                        <div
                                                                                                            class="d-flex justify-content-between align-items-center">
                                                                                                            <p
                                                                                                                class="mb-1">
                                                                                                                <%= ChildComment.user.name
                                                                                                                    %>
                                                                                                                    <span
                                                                                                                        class="small">-
                                                                                                                        3
                                                                                                                        hours
                                                                                                                        ago</span>
                                                                                                            </p>
                                                                                                        </div>
                                                                                                        <p
                                                                                                            class="small mb-0">
                                                                                                            <%= ChildComment.body
                                                                                                                %>
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                            <% }) %>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <% }) %>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>




                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header d-flex ">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">پاسخ به کامتن
                                                        </h5>
                                                        <button type="button" class="close btn btn-sm btn-danger"
                                                            data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/comments" method="post">
                                                            <div class="form-group">
                                                                <input type="hidden" name="parent" value="">
                                                                <input type="hidden"
                                                                    name="<%= course.constructor.modelName.toLowerCase() %>"
                                                                    value="<%= course.id %>">
                                                                <label for="TextAnswers" class="mb-2">پاسخ</label>
                                                                <input type="text" name="body" class="form-control"
                                                                    id="TextAnswers" aria-describedby="emailHelp"
                                                                    placeholder="متن خود را وارد کنید">

                                                            </div>

                                                            <button type="submit"
                                                                class="btn btn-primary mt-3">ارسال</button>
                                                        </form>
                                                    </div>
                                                    -->
                                                </div>
                                            </div>
                                        </div>


                                        <% if(auth.check) {%>
                                            <%- include(viewPath('resourse/views/home/layout/errorMassage.ejs')); -%>
                                                <div class="card mb-5">
                                                    <h5 class="card-header">ثبت نظر</h5>
                                                    <div class="card-body">
                                                        <form action="/comments" method="post">
                                                            <div class="form-group">
                                                                <input type="hidden"
                                                                    name="<%= course.constructor.modelName.toLowerCase() %>"
                                                                    value="<%= course.id %>">

                                                                <textarea name="body" class="form-control mb-2"
                                                                    id="exampleFormControlTextarea1"
                                                                    rows="3"></textarea>
                                                                <button type="submit"
                                                                    class="btn btn-primary">ارسال</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <%} %>


</div>
<div class="col-3">


    <% if(auth.check) { %>
        <form class="border rounded-1 p-3 d-flex flex-column mb-3" action="/course/payment" method="POST">
            <input type="hidden" name="course" value='<%= course.id %>'>
            <small class="mb-3"> برای استفاده از این دوره نیاز است مبلغ <%= course.price %> تومان خریداری کنید</small>
            <button type="submit" class="btn btn-success btn-sm">خرید</button>
        </form>
        <%} else { %>
            else
            <%}%>

                <div class="card mb-3">
                    <div class="card-header">جست و جو</div>
                    <div class="card-body">

                        <form action="/search" method="get">

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">

                                    <button type="submit" class="input-group-text btn btn-dark">
                                        جستجو
                                    </button>
                                </div>
                                <input type="text" name='search' class="form-control" aria-label="Small"
                                    aria-describedby="inputGroup-sizing-sm" />
                            </div>

                        </form>





                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">دسته بندی</h5>
                    <div class="card-body">
                        <div class="container">
                            <div class="">

                                <div class="col-sm d-flex flex-column">
                                    <ui class="list-unstyled">
                                        <% category.forEach(cat=> { %>

                                            <div class="py-1">
                                                <li class="">
                                                    <%= cat.name%>
                                                </li>
                                                <% if(cat.child.length !==0) { %>
                                                    <li>
                                                        <ul class="mb-0 d-flex flex-column">
                                                            <% cat.child.forEach(catChild=> { %>
                                                                <il style="padding-right: 1rem;">
                                                                    <%= catChild.name%>
                                                                </il>
                                                                <% }) %>
                                                        </ul>
                                                    </li>
                                                    <% } %>
                                            </div>

                                            <% }) %>
                                    </ui>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
</div>

</div>


<script>
    $('#exampleModalCenter').on('shown.bs.modal', function (e) {
        let button = $(e.relatedTarget)
        let parentId = button.data('parent');
        let modal = $(this);
        modal.find('[name="parent"]').val(parentId)

    })
</script>