 <div class="col-9">
     <h2><%= course.title %></h2>
     <small>توسط <%=  course.user.name %> ارسال شده در 21 خرداد 1397</small>
     <hr />
     <p class="text-justify">
         <%= course.body%>
     </p>
     <hr />


     <% if(auth.check) { %>
     <% if(!canUse) { %>
     <% if(course.type == 'vip') { %>
     <div class="alert alert-danger" role="alert">
         این دوره به صورت خریدنی است

     </div>
     <% } else if(course.type == 'cash') { %>
     <div class="alert alert-danger" role="alert">
         برای مشاهده این دوره باید اکانت شما ویژه باشد

     </div>
     <% } %>
     <% } else { %>
     <div class="alert alert-success" role="alert">
         شما یه این دوره دسترسی دارید
     </div>
     <% } %>
     <% } else { %>
     <div class="alert alert-danger" role="alert">
         برای مشاهده ویدیو ها با ید ابتدا وارد اکانت خود شوید
     </div>
     <% } %>

     <div>
         <h3>قسمت های دوره</h3>
         <table class="table table-striped">
             <thead>
                 <tr>
                     <th scope="col">شماره قسمت</th>
                     <th scope="col">عنوان قسمت</th>
                     <th scope="col">زمان قسمت</th>
                     <th scope="col">دانلود</th>
                 </tr>
             </thead>
             <tbody>

                 <% course.episode.forEach(episode => { %>
                 <tr>
                     <th scope="row">1</th>
                     <td><%= episode.title %></td>
                     <td><%= episode.time %></td>
                     <td><a class="decorationNon" href="#">دانلود</a></td>
                 </tr>
                 <%}) %>

             </tbody>
         </table>
     </div>
     <%- include(viewPath('resourse/views/home/layout/comments.ejs') , {subject : course})-%>

     <% if(auth.check) {%>
     <%- include(viewPath('resourse/views/home/layout/errorMassage.ejs'));
          -%>
     <div class="card mb-5">
         <h5 class="card-header">ثبت نظر</h5>
         <div class="card-body">
             <form action="/comments" method="post">
                 <div class="form-group">
                     <input type="hidden" name="<%= course.constructor.modelName.toLowerCase() %>"
                         value="<%= course.id %>">
                     <textarea name="body" class="form-control mb-2" id="exampleFormControlTextarea1"
                         rows="3"></textarea>
                     <button type="submit" class="btn btn-primary">ارسال</button>
                 </div>
             </form>
         </div>
     </div>
     <%} %>

 </div>
 <div class="col-3">
     <div class="border rounded-1 p-3 d-flex flex-column mb-3">
         <small class="mb-3">برای استفاده از ای ن دوره نیاز است این دوره را با مبلغ 60000 تومان
             خریداری کنید</small>
         <button type="button" class="btn btn-success btn-sm">خرید</button>
     </div>

     <div class="card mb-3">
         <div class="card-header">جست و جو</div>
         <div class="card-body">
             <div class="input-group input-group-sm mb-3">
                 <div class="input-group-prepend">
                     <button class="input-group-text btn btn-dark" id="inputGroup-sizing-sm">
                         جستجو
                     </button>
                 </div>
                 <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
             </div>
         </div>
     </div>

     <div class="card">
         <h5 class="card-header">دسته بندی</h5>
         <div class="card-body">
             <div class="container">
                 <div class="row">
                     <div class="col-sm">
                         <a href="#" class="decorationNon">طراحی وب</a>
                         <a href="#" class="decorationNon">HTML</a>
                         <a href="#" class="decorationNon">جاوا اسکریپت</a>
                     </div>
                     <div class="col-sm">
                         <a href="#" class="decorationNon">بوت استرپ</a>
                         <a href="#" class="decorationNon">css</a>
                         <a href="#" class="decorationNon">آموزش تخصصی</a>
                     </div>
                 </div>
             </div>
         </div>

     </div>
 </div>

 </div>