<div class="col-10">
    <div class="main-style-div">
        <div>
            <div class="d-flex justify-content-between mt-5">
                <h3>کامنت  ها</h3>
                <div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <!--  -->
                        <a href="/admin/comments/approved" class="btn btn-sm btn-primary">کامنت های تایید نشده</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="border mt-4">
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th class="col-2">نام ارسال کننده</th>
                        <th class="col-2">مطب</th>
                        <th class="col-7">متن نظر</th>
                        <th class="col-1">تنظیمات</th>
                    </tr>
                </thead>

                <tbody>

                    <!-- comments -->
                    <% comments.docs.forEach(comment=> { %>
                        <tr class=" text-center">
                            <th scope="row">
                                <%= comment.user.name%>
                            </th>


                            <% if(comment.course){ %>
                                <td>
                                    <%= comment.course.title%>


                                </td>
                                <% } else if(comment.episode){ %>
                                    <td>
                                        <%= comment.episode.title%>
                                    </td>
                                    <% } else { %>

                                        <td>
                                            ندارد
                                        </td>
                                        <% } %>

                                            <td>
                                                <%= comment.body%>
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-sm" role="group"
                                                    aria-label="Basic example">


                                                    <form action="/admin/comments/<%= comment.id %>?_method=DELETE"
                                                        method="post">

                                                        <button type="submit" class="btn btn-sm  btn-danger">حذف</button>
                                                    </form>
                                                </div>
                                            </td>
                        </tr>
                        <%}) %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('./../home/layout/pagination.ejs' , {pagination: comments}) %>