<div class="col-10">
  <div class="main-style-div">
    <div>
      <div class="d-flex justify-content-between mt-5">
        <h3>افزودن دوره</h3>
      </div>
    </div>
    <hr />
    <%- include(viewPath('resourse/views/home/layout/errorMassage.ejs')); -%>

    <div>
      <form
        action="/admin/episode/<%= episode._id %>?_method=put"
        method="post"
      >
        <div class="form-group">
          <label for="title">عنوان دوره</label>
          <input
            type="text"
            class="form-control mt-2"
            id="title"
            name="title"
            value="<%= episode.title%>"
          />
        </div>

        <div class="form-group">
          <label for="videoUrl">لینک ویدو</label>
          <input
            style="direction:  ltr;"
            type="videoUrl"
            class="form-control mt-2"
            id="videoUrl"
            name="videoUrl"
            value="<%= episode.videoUrl%>"
          />
        </div>
        
        <div class="form-group">
          <label for="time">زمان ویدو را قرار دهید</label>
          <input
            type="text"
            class="form-control mt-2"
            id="time"
            name="time"
            value="<%= episode.time%>"
          />
        </div>

        
        <div class="form-group">
          <label for="episodetype">نوع دوره</label>
          <select class="form-control mt-2" name="type" id="type">
            <option value="<%= episode.type %>" <%= episode.tags === 'vip' ? 'selected' : '' %>>نقدی</option>
            <option value="<%= episode.type %>" <%=  episode.tags === 'cash' ? 'selected' : '' %>>ویژه</option>
            <option value="<%= episode.type %>" <%=  episode.tags === 'free' ? 'selected' : '' %>>رایگان</option>
          </select>
        </div>

        

        <div class="form-group">
          <label for="body">متن</label>
          <textarea class="form-control mt-2" id="body" rows="3" name="body"><%= episode.body%></textarea
          >
        </div>



      <div class="form-group">
        <label for="number">شماره جلسه</label>
        <input
          type="text"
          class="form-control mt-2"
          id="number"
          name="number"
          value="<%= episode.number%>"
        />
      </div>




      

        <button type="submit" class="btn btn-primary mt-4">ثبت تغیرات</button>
      </form>
    </div>
    <!--  -->
  </div>
</div>
